.Modal div,
.Modal button {
  border-radius: 20px;
}

.ant-modal-content .ant-modal-header {
  border-bottom: 0px;
}

#projectTitle,
#enterpriseTitle {
  font-size: 15px;
}

.projectInputBox {
  margin-top: 20;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 15px 5px 15px 5px;
}

.ant-modal-body {
  padding-top: 10px !important;
}

div.ant-modal-footer {
  border-top: 0px;
}
