@import '~antd/dist/antd.css';

body {
  height: '100vh';
  background-color: aliceblue;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectList {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: white;
  min-width: 500px;
}
